.keyword-extra-btn-group {
    color: @primary-color;

    i.iconfont {
        cursor : pointer;
        margin : 4px 8px 0;
        display: inline-block;
    }
}

.keyword-extra-btn-dropdown {
    float: right;
}
