
.keyword-extra-btn-dropdown {
    float: right;
    margin-right: 16px;
}
.keyword-list {
    .keyword-list-type {
        margin-right: 8px;
        .btn {
            padding: 0 6px;
            &.ant-radio-button-wrapper-checked {
                color     : #fff;
                background: @primary-color;
            }
        }
        .iconfont {
            font-size: 12px;
        }
    }
    .filter-sw {
        float: right;
    }
    .control-row {
        padding: 12px;
         > .ant-btn,
        .ant-btn-group,
        .filter-extra-bar > .ant-btn {
            margin-right: 8px;
            transition  : none;
        }
    }
    .op-type > * {
        display: inline-block;
    }
    .extra-head {
        height      : 60px;
        margin-top  : -60px;
        background  : #fff;
        border-left : 1px solid @border-color;
        border-right: 1px solid @border-color;
        padding     : 16px;
        > * {
            vertical-align: middle;
        }
        .ant-dropdown-link {
            margin-left: 16px;
        }
        .report-item {
            margin-left: 16px;
            .num {
                color: @primary-color;
            }
        }
        .action-panel {
            float: right;
            > * {
                margin-left: 8px;
            }
        }
    }
}
