@import 'constants';

.hide {
    display: none;
}
// 表格hover显示

.table-row-hover {
    .show-on-row-hover {
        display: none;
    }

    tr:hover .show-on-row-hover {
        display: inline-block;
    }
}
// 表格的修改笔站位

.table-edit-icon {
    width: 24px;
    display: inline-block;
    color: @primary-color;
}
