.ReactVirtualized__Table {}
.ReactVirtualized__Table__Grid {}
.table-grid {
    display: flex;
    .scroll-part {
        flex      : 1;
        overflow:hidden;
    }
}
.scroll-bar {
    float: left;
    height    : 10px;
    overflow-x: scroll;
    .scroll-bar-content {
        visibility: hidden;
        height: 1px;
    }
}
